#logo {
    text-decoration: none;
    color: #000;
}

#logo:hover {
    text-decoration: none;
    color: #000;
}

#image-col {
    width: 15%;
}

#brand-col, #model-col, #color-col {
    width: 12%;
}

#display-size-col {
    width: 15%;
}

#price-col, #action-col {
    width: 10%;
}

#quantity-col {
    width: 15%;
}

.error {
    color: red;
}

.table-custom th, .table-custom td {
    border-left: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
}

#empty-cell {
    border-left: 0;
}

#total-price-row {
    border-bottom: 1px solid #dee2e6;;
}

#additional-info {
    resize: none !important;
    height: 7em;
}
