#logo {
    text-decoration: none;
    color: #000;
}

#logo:hover {
    text-decoration: none;
    color: #000;
}

#image-col {
    width: 15%;
}

#brand-col, #model-col, #color-col {
    width: 12%;
}

#display-size-col {
    width: 15%;
}

#price-col, #action-col {
    width: 10%;
}

#quantity-col {
    width: 15%;
}

.error {
    color: red;
}